body {
  background-color: #e1e1e1;
}
h5 {
  font-weight: 500;
}

.navTitle {
  color: black;
}

nav {
  background-color: #fff;
  padding: 0px 30px;
}

button {
  background-color: #b71c1c;
}

.login,
.register {
  margin-top: 200px;
}

.todoPage {
  padding-top: 145px;
}
